<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>HI KINDERGARTEN</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/student/Studentupdate.css}">  
</head>

<body class="sb-nav-fixed">

	<div th:replace="common/header"></div>
	<div th:replace="common/sidebar"></div>
  
        <!-- 컨텐츠 영역 -->
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">원생개인정보 수정</h1> 
                    <form th:action="@{ /student/studentupdate2 }" method="post">
                    <button class="btn-orange">수정</button>                    
                    <button class="btn-orange">취소하기</button>                    
                    <br>
                    <br>
                    <table class="tbTem">
                        <colgroup>
                            <col width="11%">
                            <col width="24%">
                            <col width="11%">
                            <col width="24%">
                        </colgroup>
                        <tr>
                            <td class="col-apricot">성명</td>
                            <td class="txtBox"><input type="text" name="name" th:value="${ student.name }"></td>
                            <td class="col-apricot">반</td>
                            <td class="txtBox">
                            <select name="wClass">
                                <option value="1">토끼반</option>
                                <option value="2">해바라기반</option>
                                <option value="3">꽃잎반</option>
                                <option value="4">열매반</option>
                                <option value="5">햇님반</option>
                                <option value="6">달님반</option>
                            </select></td>
                        </tr>
                        <tr>
                            <td class="col-apricot">생년월일</td>
                            <td class="txtBox"><input type="date" name="birth" th:value="${ student.birth }"></td>
                            <td class="col-apricot">주민등록번호</td>
                            <td class="txtBox" th:text="${ student.resident }">
                                <input type="tel" style="width: 130px;"  id="jumin1" name="resident" maxlength="6"> - 
                                <input type="text" style="width: 130px;" id="jumin2" name="resident2" maxlength="7" required>
                                <script>
                                    $("#jumin1").on('keypress', function(){
                                      var text = $('#jumin1').val().replace(/[^0-9]/g,"");
                                      if(text.length >= $(this).attr("maxlength")){
                                          $("#jumin2").focus();
                                          return;
                                      }
                                        $(this).val(text);
                                    });
                                   
                                    $("#jumin2").on('keypress', function(e){
                                        //숫자만 입력되게..
                                        var inVal="";
                                        if ( event.keyCode === 8 ) {             //백스페이스
                                            //if(confirm("주민번호 뒷자리 전체를 삭제 후 다시 입력하시겠습니까?")){
                                                $("#juminE").val("");
                                                $("#jumin2").val("");
                                            //}                
                                        }else if(e.keyCode >=96 && e.keyCode <=105){
                                            switch (e.keyCode) {
                                                case 96 : inVal=0; break;
                                                case 97 : inVal=1; break;
                                                case 98 : inVal=2; break;
                                                case 99 : inVal=3; break;
                                                case 100 : inVal=4; break;
                                                case 101 : inVal=5; break;
                                                case 102 : inVal=6; break;
                                                case 103 : inVal=7; break;
                                                case 104 : inVal=8; break;
                                                case 105 : inVal=9; break;
                                            }
                                        }else if(e.keyCode >=48 && e.keyCode <= 57 ){
                                           inVal = String.fromCharCode(e.keyCode);               
                                        }else{
                                            e.preventDefault();
                                            return false;
                                        }            
                                        var text = $(this).val();
                                        if(text.length >= $(this).attr("maxlength")){
                                            return;
                                        }
                                      
                                        //주민번호에 넣고..
                                        var jume = $("#juminE").val()+inVal;
                                        $("#juminE").val(jume.replace(/[^0-9]/g,""));               
                                    }).on('input',function(e){
                                        $(this).val($(this).val().replace(/(?<=.{1})./gi, "*"));
                                    });                              
                                       </script>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-apricot">연락처</td>
                            <td class="txtBox" style="margin: 100px;">
                                <input type="tel" oninput="hypenTel(this)" maxlength="13" name="phone" id="phone" th:value="${ student.phone }"  required> 
							   <script>
								  const hypenTel = (target) => {
								 target.value = target.value
								   .replace(/[^0-9]/g, '')
								   .replace(/^(\d{2,3})(\d{3,4})(\d{4})$/, `$1-$2-$3`);
								}								
								</script>
                            </td> 
                            <td class="col-apricot">학생번호</td>
                            <td class="txtBox" name="no" th:text="${ student.no }"></td>
                            <input type="hidden" th:value="${ student.no }" name="no"/>
                        </tr>
                        <tr>
                            <td class="col-apricot">입학일</td>
                            <td class="txtBox"><input type="date" name="admission" th:value="${ student.admission }"></td>
                            <td class="col-apricot">졸업일</td>
                            <td class="txtBox"><input type="date" name="exit" th:value="${ student.exit }"></td>
                        </tr>
                        <tr>
                           
                            <td class="col-apricot">주소</td>
                            <td colspan="3" class="txtBox">
                                <input type="text" id="sample5_address" placeholder="주소" name="adderss" th:value="${ student.adderss }">
                                <input type="button" class="btn-sky" onclick="sample5_execDaumPostcode()" value="주소 검색" name="adderss"><br>
                                <div id="map" style="width:300px;height:300px;margin-top:10px;display:none"></div>

                                <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
                                <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=발급받은 API KEY를 사용하세요&libraries=services"></script>
                                <script>
                                    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                                        mapOption = {
                                            center: new daum.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
                                            level: 5 // 지도의 확대 레벨
                                        };

                                    //지도를 미리 생성
                                    var map = new daum.maps.Map(mapContainer, mapOption);
                                    //주소-좌표 변환 객체를 생성
                                    var geocoder = new daum.maps.services.Geocoder();
                                    //마커를 미리 생성
                                    var marker = new daum.maps.Marker({
                                        position: new daum.maps.LatLng(37.537187, 127.005476),
                                        map: map
                                    });


                                    function sample5_execDaumPostcode() {
                                        new daum.Postcode({
                                            oncomplete: function(data) {
                                                var addr = data.address; // 최종 주소 변수

                                                // 주소 정보를 해당 필드에 넣는다.
                                                document.getElementById("sample5_address").value = addr;
                                                // 주소로 상세 정보를 검색
                                                geocoder.addressSearch(data.address, function(results, status) {
                                                    // 정상적으로 검색이 완료됐으면
                                                    if (status === daum.maps.services.Status.OK) {

                                                        var result = results[0]; //첫번째 결과의 값을 활용

                                                        // 해당 주소에 대한 좌표를 받아서
                                                        var coords = new daum.maps.LatLng(result.y, result.x);
                                                        // 지도를 보여준다.
                                                        mapContainer.style.display = "block";
                                                        map.relayout();
                                                        // 지도 중심을 변경한다.
                                                        map.setCenter(coords);
                                                        // 마커를 결과값으로 받은 위치로 옮긴다.
                                                        marker.setPosition(coords)
                                                    }
                                                });
                                            }
                                        }).open();
                                    }
                                </script>
                            </td>
                        </tr>

                    </table>
                    <table class="tbTem tdTmq">
                        <h5>출결사항</h5>
                        <colgroup>
                            <col width="10%">
                            <col width="10%">
                            <col width="10%">
                            <col width="10%">
                            <col width="10%">
                            <col width="10%">
                            <col width="10%">
                        </colgroup>
                        <tr>
                            <td class="col-apricot backslash" >
                                <div>구분</div>학기
                            </td>
                            <td>1학기</td>
                            <td>2학기</td>
                            <td>1학기</td>
                            <td>2학기</td>
                            <td>1학기</td>
                            <td>2학기</td>
                        </tr>
                        <tr>
                            <td class="col-apricot">출석</td>
                            <td><input type="number" style="width: 50px;" name="p1_1" th:value="${ attendance[0].attendence[0].total }"></td>
                            <td><input type="number" style="width: 50px;" name="p1_2" th:value="${ attendance[0].attendence[1].total }"></td>
                            <td><input type="number" style="width: 50px;" name="p2_1" th:value="${ attendance[0].attendence[2].total }"></td>
                            <td><input type="number" style="width: 50px;" name="p2_2" th:value="${ attendance[0].attendence[3].total }"></td>
                            <td><input type="number" style="width: 50px;" name="p3_1" th:value="${ attendance[0].attendence[4].total }"></td>
                            <td><input type="number" style="width: 50px;" name="p3_2" th:value="${ attendance[0].attendence[5].total }"></td>
                            
                        </tr>
                        <tr>
                            <td class="col-apricot">결석</td>
                            <td><input type="number" style="width: 50px;" name="p1_3" th:value="${ attendance[0].attendence[0].non }"></td>
                            <td><input type="number" style="width: 50px;" name="p1_4" th:value="${ attendance[0].attendence[1].non }"></td>
                            <td><input type="number" style="width: 50px;" name="p2_3" th:value="${ attendance[0].attendence[2].non }"></td>
                            <td><input type="number" style="width: 50px;" name="p2_4" th:value="${ attendance[0].attendence[3].non }"></td>
                            <td><input type="number" style="width: 50px;" name="p3_3" th:value="${ attendance[0].attendence[4].non }"></td>
                            <td><input type="number" style="width: 50px;" name="p3_4" th:value="${ attendance[0].attendence[5].non }"></td>
                        </tr>
                        <tr>
                            <td class="col-apricot">지각</td>
                            <td><input type="number" style="width: 50px;" name="p1_5" th:value="${ attendance[0].attendence[0].late }"></td>
                            <td><input type="number" style="width: 50px;" name="p1_6" th:value="${ attendance[0].attendence[1].late }"></td>
                            <td><input type="number" style="width: 50px;" name="p2_5" th:value="${ attendance[0].attendence[2].late }"></td>
                            <td><input type="number" style="width: 50px;" name="p2_6" th:value="${ attendance[0].attendence[3].late }"></td>
                            <td><input type="number" style="width: 50px;" name="p3_5" th:value="${ attendance[0].attendence[4].late }"></td>
                            <td><input type="number" style="width: 50px;" name="p3_6" th:value="${ attendance[0].attendence[5].late }"></td>
                        </tr>
                        <tr>
                            <td class="col-apricot">병결</td>
                            <td><input type="number" style="width: 50px;" name="p1_7" th:value="${ attendance[0].attendence[0].sick }"></td>
                            <td><input type="number" style="width: 50px;" name="p1_8" th:value="${ attendance[0].attendence[1].sick }"></td>
                            <td><input type="number" style="width: 50px;" name="p2_7" th:value="${ attendance[0].attendence[2].sick }"></td>
                            <td><input type="number" style="width: 50px;" name="p2_8" th:value="${ attendance[0].attendence[3].sick }"></td>
                            <td><input type="number" style="width: 50px;" name="p3_7" th:value="${ attendance[0].attendence[4].sick }"></td>
                            <td><input type="number" style="width: 50px;" name="p3_8" th:value="${ attendance[0].attendence[5].sick }"></td>
                        </tr>
                        <tr>
                            <td class="col-apricot" >특이사항</td>
                            <td colspan="6" class="txtBox"><input type="text" style="width: 600px;" name="spac" th:value="${ student.spac }"></td>
                        </tr>
                    </table>
                    <table class="tbTem tdTmq">
                        <colgroup>
                            <col width="5%">
                            <col width="10%">
                            <col width="5%">
                            <col width="10%">                           
                        </colgroup>
                        <h5>보호자</h5>
                        <tr>                           
                            <td class="col-apricot">보호자1</td>
                           <td
								style="text-align: left; position: relative; left: 20px; top: 7px">
							<select name="parents1">
									<option value="부">부</option>
									<option value="모">모</option>									
							</select>
								<p>
									이름 : <input type="text" style="width: 100px;" name="name1" th:value="${ choice[0].parents.name }" required>
									<input type="hidden" th:value="${ choice[0].parents.no }" name="pNo1">
								</p> <br>
								<p>
									번호 : <input type="tel" oninput="hypenTel1(this)" maxlength="13" name="phone1" id="phone" th:value="${ choice[0].parents.phone }" required> 
							   <script>
								  const hypenTel1 = (target) => {
								 target.value = target.value
								   .replace(/[^0-9]/g, '')
								   .replace(/^(\d{2,3})(\d{3,4})(\d{4})$/, `$1-$2-$3`);
								}								
								</script>
								
							
								</p>
							</td>
							<td class="col-apricot">보호자2</td>
							<td
								style="text-align: left; position: relative; left: 20px; top: 7px">
								<select name="parents2">
									<option value="부">부</option>
									<option value="모">모</option>									
								</select>
								<p>
									이름 : <input type="text" style="width: 100px;" name="name2" th:value="${ choice[1].parents.name }" required>
									<input type="hidden" th:value="${ choice[1].parents.no }" name="pNo2">
								</p> <br>
								<p>
									번호 : <input type="tel" oninput="hypenTel2(this)" maxlength="13" name="phone2" id="phone" th:value="${ choice[1].parents.phone }" required> 
							   <script>
								  const hypenTel2 = (target) => {
								 target.value = target.value
								   .replace(/[^0-9]/g, '')
								   .replace(/^(\d{2,3})(\d{3,4})(\d{4})$/, `$1-$2-$3`);
								}								
								</script>
								</p>
							</td>                  
                        </tr>
                      </table>
                    </form>

                </div>
            </main>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="../js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="../js/datatables-simple-demo.js"></script>
</body>

</html>