<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>음식품목 상세페이지</title>
</head>
<body class="sb-nav-fixed">

     <div th:replace="common/header"></div>
	 <div th:replace="common/sidebar"></div>
     
  <!-- 컨텐츠 영역 -->
  <div id="layoutSidenav_content">
      <main>
          <div class="container-fluid px-4">
              <h1 class="mt-4">음식재고</h1>
              
              <br>
              
              <form th:action="@{/food/stock/update}" method="post">
              
              <div class="btn-right-mv70">
                  <button class="btn-orange update" type="submit">수정하기 </button>
                  <button class="btn-orange delete" type="submit">삭제하기 </button>
              </div>

              <br>
                           
              <table class="tbTem">
                  <colgroup>
                      <col width="25%">
                      <col width="25%">
                      <col width="25%">
                      <col width="25%">
                  </colgroup>
                  		<tr>
	                      <td class="bg-apricot">음식번호</td>
	                      <td colspan="3"><p th:text="${ stock.stockIdx }" align="left"></p></td>
	                      <input type="hidden" name="stockIdx" th:value="${ stock.stockIdx }">
	                  </tr>
	                  <tr>
	                      <td class="bg-apricot">음식명</td>
	                      <td colspan="3"><input type="text" name="stockTitle" th:value="${ stock.stockTitle }" maxlength="10" placeholder="음식명을 입력해주세요! (ex: 10)"></td>
	                  </tr>
	                  <tr>
	                      <td class="bg-apricot">개수</td>
	                      <td colspan="3"><input type="number" style="width: 100%; height: 60px;" id="stockCount" name="stockCount" th:value="${ stock.stockCount }" maxlength="5" placeholder="수량을 입력해주세요! (ex: 10)"></td>
	                  </tr>
              </table>
			</form>
			
          </div>
         </main>
     </div>
<script th:inline="javascript">
$(".update").click(function () {
    $("form").attr("action", "/food/stock/update");
	 });

	$(".delete").click(function () {
    $("form").attr("action", "/food/stock/delete");
	});

 	let userPhone = document.querySelector("#stockCount");
 	userPhone.addEventListener("change", (e) => {
 	  validPhone(e.target);
 	});
 	
 	function validPhone(obj) {
 	  console.log(obj);
 	  if (validPhoneCheck(obj) == false) {
 	    alert("올바른 수량을 입력하세요.");
 	    obj.value = "";
 	    obj.focus();
 	    return false;
 	  }
 	}
 	function validPhoneCheck(obj) {
 	  let pattern = /^[0-9]/g;
 	  return obj.value.match(pattern) != null;
 	}


</script>
</body>
</html>
