<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>거래업체 등록 페이지</title>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="sb-nav-fixed">
    
    <div th:replace="common/header"></div>
	<div th:replace="common/sidebar"></div>
    
    <!-- 컨텐츠 영역 -->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">거래업체 등록</h1>
                
              	<br>
              	
			  <form>
				<div class="btn-right-mv70">
                  <button class="btn-orange" id="insert">등록</button>
                  <button class="btn-orange" id="back">취소</button>
              	</div>
              	
                <br>
                
                <table class="tbTem">
                    <colgroup>
                        <col width="25%">
                        <col width="25%">
                        <col width="25%">
                        <col width="25%">
                    </colgroup>
                    <tr>
                        <td class="bg-apricot">회사명</td>
                        <td colspan="3"><input type="text" name="traderName" maxlength="10" placeholder="회사명을 입력해주세요! (ex: 하니주식회사)"></td>
                    </tr>
                    <tr>
                        <td class="bg-apricot">담당자</td>
                        <td colspan="3"><input type="text" name="traderPic" maxlength="5" placeholder="담당자를 입력해주세요! (ex: 김하니)"></td>
                    </tr>
                    <tr>
                        <td class="bg-apricot">핸드폰 번호</td>
                        <td colspan="3"><input type="text" name="traderPhone" oninput="autoHypen(this)" id="phoneNumber" class="phoneNumber" maxlength="13" placeholder="전화번호를 입력해보세요!"></td>
                    </tr>
                </table>
			  </form>

            </div>
          </main>
        </div>

</body>
<script th:inline="javascript">
    
    $("#insert").click(function () {
        $("form").attr("action", "/food/trader/insert").attr("method", "post");
 	 });
  
 	$("#back").click(function () {
        $("form").attr("action", "/food/trader").attr("method", "get");
 	});
 	
 /* 	$(document).on("keyup", ".phoneNumber", function() { 

 		$(this).val( $(this).val().replace(/[^0-9]/g, "").replace(/(^02|^0505|^1[0-9]{3}|^0[0-9]{2})([0-9]+)?([0-9]{4})$/,"$1-$2-$3").replace("--", "-") ); 

 		}); */
 	
  
 	//휴대폰 번호 유효성 검사
 	let userPhone = document.querySelector("#phoneNumber");
 	userPhone.addEventListener("change", (e) => {
 	  validPhone(e.target);
 	});
 	function validPhone(obj) {
 	  console.log(obj);
 	  if (validPhoneCheck(obj) == false) {
 	    alert("올바른 번호를 입력하세요.");
 	    obj.value = "";
 	    obj.focus();
 	    return false;
 	  }
 	}
 	function validPhoneCheck(obj) {
 	  let pattern = /^01([0|1|6|7|8|9]?)-?([0-9]{3,4})-?([0-9]{4})$/;
 	  return obj.value.match(pattern) != null;
 	}

 	// 전화번호 입력 시 하이픈 넣는 코드
 	const autoHypen = (target) => {
 	  target.value = target.value
 	    .replace(/[^0-9]/g, "")
 	    .replace(/^(\d{0,3})(\d{0,4})(\d{0,4})$/g, "$1-$2-$3")
 	    .replace(/(\-{1,2})$/g, "");
 	};
</script>
</html>
