<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>HI KINDERGARTEN</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link th:href="@{/css/common/styles.css}" rel="stylesheet"/>
        <link rel="stylesheet" th:href="@{/css/common/commons.css}">
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
    
    	<div th:replace="common/header"></div>
		<div th:replace="common/sidebar"></div>

            <!-- 컨텐츠 영역 -->
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">개인정보 수정</h1>
                        <br>
                        <div class="btn-right-mv70">
                            <button class="btn-orange" style="margin-right: 20px;">수정</button>
                            <button class="btn-orange" th:onclick="'location.href=\'/mypage/gomypage\''">취소</button>
                        </div>
                        <br>
                        <table class="tbTem">
                            <colgroup>
                                <col width="20%">
                                <col width="80%">
                            </colgroup>
                            <tr>
                                <td class="col-apricot">아이디</td>
                                <td class="txtBox"><input class="title1" type="text" style="width: 149px;height: 38px;"></td>
                            </tr>
                            <tr>
                                <td class="col-apricot">비밀번호</td>
                                <td class="txtBox" style="width: 149px;height: 38px;"></td>
                            </tr>
                            <tr>
                                <td class="col-apricot">이름</td>
                                <td class="txtBox" style="width: 149px;height: 38px;"></td>
                            </tr>
                            <tr>
                                <td class="col-apricot">휴대전화</td>
                                <td class="txtBox">
                                    <input type="tel" style="width: 50px;height: 38px;" maxlength="4">
                                    - <input type="tel" style="width: 70px;height: 38px;" maxlength="4">
                                    - <input type="tel" style="width: 70px;height: 38px;" maxlength="4">
                                </td>
                            </tr>
                            <tr>
                                <td class="col-apricot">이메일</td>
                                <td class="txtBox" colspan="3"><input type="text" name="email"
								style="width: 149px; height: 38px;"> @ 
								<select name="email2" id="" class="dataTable-selector">
									<option value="">-선택-</option>
									<option value="naver.com">naver.com</option>
									<option value="hotmail.com">hotmail.com</option>
									<option value="daum.net">daum.net</option>
									<option value="gmail.com">gmail.com</option>
								</select>
							</td>
                            </tr>
                            <tr>
                                <td class="col-apricot">주소</td>
                                <td colspan="3" class="txtBox">
								<input type="text" name="zipcode" id="sample6_postcode" placeholder="우편번호" style="height: 38px;width: 74%;">
								<input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
								<input type="text" name="addre" id="sample6_address" placeholder="주소" style="height: 38px;"><br>
								<input type="text" name="addre2" id="sample6_detailAddress" placeholder="상세주소" style="height: 38px;">
								<input type="text" name="addre3" id="sample6_extraAddress" placeholder="참고항목" style="height: 38px;">
							</td>
                            </tr>
                            <tr>
                                <td class="col-apricot">직급</td>
                                <td class="txtBox">
                                    <select name="value" id="" class="dataTable-selector">
                                        <option value="1">선생님</option>
                                        <option value="2">영양사</option>
                                        <option value="3">원장</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-apricot">생년월일</td>
                                <td class="txtBox" style="width: 149px;height: 38px;"><input type="date" name="birth"></td>
                            </tr>
                        </table>
                        
                    </div>
                </main>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="../js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="../js/datatables-simple-demo.js"></script>
    </body>
</html>
