<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>HI KINDERGARTEN</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link th:href="@{/css/common/styles.css}" rel="stylesheet" />
        <link rel="stylesheet" th:href="@{/css/common/commons.css}">
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <style>
            .btn-upload {
            width: 150px;
            height: 30px;
            background: #fff;
            
            border-radius: 10px;
            
            cursor: pointer;
            
            justify-content: center;
        }
        </style>
    </head>
    <body class="sb-nav-fixed">

        <div th:replace="common/header"></div>
		<div th:replace="common/sidebar"></div>

            <!-- 컨텐츠 영역 -->
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">공지사항</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">공지사항 작성중....</li>
                        </ol>
                        <form th:action="@{ /notice/afterupdate }" method="post">
                        <div class="btn-right-mv70">
                            <button class="btn-orange" type="submit">수정</button>
                        </div>
                        <br>
                        <br>

                        <table class="tbTem">
                            <colgroup>
                                <col width="20%">
                                <col width="80%">
                            </colgroup>
                            
                            <tr>
                                <td class="col-apricot">번호</td>
                                <td class="txtBox" th:text="${ no }"></td>
                                <input type="hidden" name="noticeNo" th:value="${ no }">
                            </tr>
                            <tr>
                                <td class="col-apricot">제목</td>
                                <td class="txtBox"><input type="text" style="width: 100%;" name="noticeTitle"></td>
                            </tr>
                            <tr>
                                <td class="col-apricot">작성자</td>
                                <td class="txtBox" th:text="${ empName }"></td>
                            </tr>
                            <tr>
                                <td class="col-apricot">내용</td>
                                <td class="txtBox"><textarea cols="30" rows="10" style="width: 100%;" name="noticeContent"></textarea></td>
                            </tr>
                            <tr>
                                
                                <td class="col-apricot">첨부파일 </td>
                                <td class="txtBox"><div><input type="file" class="form-control"
                                    id="avatar" name="avatar"
                                    accept="image/png, image/jpeg"></div></td>
                            </tr>
                        </table>
                        </form>
                    </div>
                </main>
            </div>

    </body>
</html>
