 .btn-upload {
            width: 150px;
            height: 30px;
            background: #fff;
            border: 1px solid rgb(77, 77, 77);
            border-radius: 10px;
            font-weight: 500;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #file {
            display: none;
        }

        .backslash {
            background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="100%" y2="100%" stroke="gray" /></svg>');
        }

        .slash,
        .backslash {
            text-align: left;
        }

        .slash div,
        .backslash div {
            text-align: right;
        }
        
        h5 {
            margin-top: -75px;

        }
        
               .pfpicture {
            width: 150px;
            height: 200px;
            background-color: black;
            margin: 0 auto;
        }
        
        
        .tbTem1 {
    width: 70%;
    text-align: center;
    margin-bottom: 100px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.tbTem1 input[type="text"] {
	border: 1px solid rgb(164, 164, 164);
    border-radius: 3px;
}

.tbTem1 td {
    border: 1px solid rgb(164, 164, 164);
}

.tbTem1 th {
    border: 1px solid rgb(164, 164, 164);
}

.tbTem1 tr {
    height: 60px;
}

.tbTem1 .col-apricot {
    background-color: #fef9ef;
    font-weight: bold;
}

.tbTem1 .txtBox {
    text-align: left;
    padding: 0 12px;
}

.tbTem1 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
    padding: 0 12px;
    text-align: left;
}

.btn-orange {
    color: white;
    padding: 5px 15px;
    display: inline-block;
    border-radius: 10px;
    background: var(--bs-orange);
    border: 1px solid rgba(0, 0, 0, 0.21);
    border-bottom-color: rgba(0, 0, 0, 0.34);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.34) inset,
        0 2px 0 -1px rgba(0, 0, 0, 0.13),
        0 3px 0 -1px rgba(0, 0, 0, 0.08),
        0 3px 13px -1px rgba(0, 0, 0, 0.21);
}

.btn-sky {
    color: white;
    padding: 5px 15px;
    display: inline-block;
    border-radius: 10px;
    background: var(--bs-sky);
    border: 1px solid rgba(0, 0, 0, 0.21);
    border-bottom-color: rgba(0, 0, 0, 0.34);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.34) inset,
        0 2px 0 -1px rgba(0, 0, 0, 0.13),
        0 3px 0 -1px rgba(0, 0, 0, 0.08),
        0 3px 13px -1px rgba(0, 0, 0, 0.21);
}

.btn-yellow {
    color: rgb(65, 65, 65);
    padding: 5px 15px;
    display: inline-block;
    border-radius: 10px;
    background: var(--bs-yellow);
    border: 1px solid rgba(0, 0, 0, 0.21);
    border-bottom-color: rgba(0, 0, 0, 0.34);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.34) inset,
        0 2px 0 -1px rgba(0, 0, 0, 0.13),
        0 3px 0 -1px rgba(0, 0, 0, 0.08),
        0 3px 13px -1px rgba(0, 0, 0, 0.21);
}

.btn-apricot {
    color: rgb(65, 65, 65);
    padding: 5px 15px;
    display: inline-block;
    border-radius: 10px;
    background: var(--bs-apricot);
    border: 1px solid rgba(0, 0, 0, 0.21);
    border-bottom-color: rgba(0, 0, 0, 0.34);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.34) inset,
        0 2px 0 -1px rgba(0, 0, 0, 0.13),
        0 3px 0 -1px rgba(0, 0, 0, 0.08),
        0 3px 13px -1px rgba(0, 0, 0, 0.21);
}

.btn-apricot:active,
.btn-yellow:active,
.btn-sky:active,
.btn-orange:active {
    top: 1px;
    border-color: rgba(0, 0, 0, 0.34) rgba(0, 0, 0, 0.21) rgba(0, 0, 0, 0.21);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.89), 0 1px rgba(0, 0, 0, 0.05) inset;
    position: relative;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal.show {
    display: block;
}

.modal_body {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 600px;
    padding: 40px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    transform: translateX(-50%) translateY(-50%);
}

.btn-right-mv70 {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

.btn-right-mv100 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.btn-right-mv70 button:not(:last-child) {
    margin-right: 20px;
}

.btn-right-mv100 button:not(:last-child) {
    margin-right: 20px;
}

.submission {
    height: 100%;
    position: relative;
}

.submission table {
    width: 100%;
    height: 100%;
}

.submission table td {
    border: 0;
}

.dataTable-search {
    display: flex;
}

.btn-wrap-between{
    display: flex;
    justify-content: center;
}
