<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>HI KINDERGARTEN</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<link th:href="@{/css/employee/employeecal.css}" rel="stylesheet" />
	<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.0/main.min.css"> -->
	<!-- <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" /> -->
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>

	<!-- <link th:href="@{/css/fullcalendar.css}" rel="stylesheet" /> -->

	<!-- <script src="../js/fullcalendar/fullcalendar.js"></script> -->
	<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.0/main.min.js"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script> -->

	<style type="text/css">
	</style>


	<script>

		//$(document).ready(function(){

		$.ajax({

			url: "/employee/callist",
			// type get 기본이 get방식이라 생략 가능. 
			// data findAllCal 쿼리문에서 가져온 값 ==> 이 때 쿼리문의 value값이 fullcalender에서 요구하는 값과 같아야함 db에서 가져올거라 date생략가능

			success: function (data) {
				console.table(data);
				let eventList = [];
				let even = {};

				for (let idx in data) {

					even = {
						"id": data[idx].id,
						"title": data[idx].title,
						"start": data[idx].start
					}

					eventList.push(even);

				}

				//let calendarEl = $('#calendar1')[0];

				// calendar element 취득     
				var calendarEl = $('#calendar1')[0];
				// full-calendar 생성하기   
				var calendar = new FullCalendar.Calendar(calendarEl, {
					height: '1000px', // calendar 높이 설정     
					expandRows: true, // 화면에 맞게 높이 재설정   
					//slotMinTime: '08:00', // Day 캘린더에서 시작 시간   
					//slotMaxTime: '20:00', // Day 캘린더에서 종료 시간  
					// 해더에 표시할 툴바    
					headerToolbar: {
						left: 'prevYear,prev,next,nextYear',
						center: 'title',
						// right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
						right: 'today'
					},
					initialView: 'dayGridMonth', // 초기 로드 될때 보이는 캘린더 화면(기본 설정: 달)       
					initialDate: new Date(), // 초기 날짜 설정 (설정하지 않으면 오늘 날짜가 보인다.)     
					navLinks: false, // 날짜를 선택하면 Day 캘린더나 Week 캘린더로 링크     
					editable: false, // 수정 가능?    
					selectable: true, // 달력 일자 드래그 설정가능     
					nowIndicator: true, // 현재 시간 마크     
					dayMaxEvents: true, // 이벤트가 오버되면 높이 제한 (+ 몇 개식으로 표현)   
					locale: 'ko', // 한국어 설정     
					eventAdd: function (obj) { // 이벤트가 추가되면 발생하는 이벤트       
						console.log(obj);
						alert("Asdas");
					},

					events: eventList,

					eventChange: function (obj) { // 이벤트가 수정되면 발생하는 이벤트     
						console.log(obj);
					},
					eventRemove: function (obj) { // 이벤트가 삭제되면 발생하는 이벤트   
						console.log(obj);
					},

					/* select: function (arg) { // 캘린더에서 드래그로 이벤트를 생성할 수 있다.  
						 var title = prompt('Event Title:');
						 if (title) {
							 calendar.addEvent({
								 title: title,
								 start: arg.start,
								 end: arg.end,
								 allDay: arg.allDay
							 })
						 } calendar.unselect()
					 },
					 */

					// 이벤트   
					events: eventList
				})
				// 캘린더 랜더링      
				calendar.render();
			},
			error: function (error) {
				console.log(error);
			}
		});
/*
		let message = '[[${message}]]';

		if (message != null && message !== '' && message !== 'null') {
			alert(message);
		};

		$("#gotime").click(function () {
			$("form").attr("action", "/employee/employeecalender").attr("method", "post");
			console.log("form 이벤트");
		});

		$("#outtime").click(function () {
			$("form").attr("action", "/employee/employeecalender2").attr("method", "post");
		});



	$("#btn_player").click(function(){
	console.log('클릭 이벤트 처리');
	});
	*/
	</script>
</head>

<body class="sb-nav-fixed">

	<div th:replace="common/header"></div>
	<div th:replace="common/sidebar"></div>


	<!-- 컨텐츠 영역 -->
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">
					<h1 class="mt-4">출결관리</h1>
					<br>

					<br>
					<label style="display:flex; justify-content:center;">이름 :  <p th:text="${ #authentication.getPrincipal().getEmpName() }"></p></label>
					<div class="btn-wrap-between">
						
						
						<button class="btn-orange mx-2" type="submit" onclick="location.href='/employee/employeecalender'">출근</button>
						<button class="btn-orange mx-2" type="submit" onclick="location.href='/employee/employeecalender2'">퇴근</button>
					</div>
			
					<br>
					<div id="calendar1"></div> 

					</head>

					<body>
						<div id="calendarBox">
							<div id="calendar"></div>
						</div>
	</main>
</body>

</html>