<!DOCTYPE html>
<html lang="ko" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>HI KINDERGARTEN</title>
        <link rel="stylesheet" th:href="@{/css/employee/employeeupdate.css}"/>
        <link th:href="@{https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">

		<div th:replace="common/header"></div>
		<div th:replace="common/sidebar"></div>
		
			<!-- 컨텐츠 영역 -->
	<div id="layoutSidenav_content">
		<main>
			<div class="container-fluid px-4">
				<h1 class="mt-4">직원등록</h1>
				<ol class="breadcrumb mb-4">
					<li class="breadcrumb-item active"></li>
				</ol>
				<img src="../images/employee.png" class=employeeimg alt="img">
				<br>
				<br>
				<form th:action="@{/employee/employeeregister}" method="post">
					<input type="file" class="file"> <br>
					<br>
					<table class="tbTem">
						<colgroup>
							<col width="20%">
							<col width="30%">
							<col width="20%">
							<col width="30%">
						</colgroup>
						<tr>
							<td class="col-apricot">이름</td>
							<td colspan="4"><input type="text" name="name" style="height: 38px;"></td>
						</tr>
						<tr>
							<td class="col-apricot">이메일주소</td>
							<td class="txtBox" colspan="3"><input type="text" name="email"
								style="width: 149px; height: 38px;"> @ 
								<select name="email2" id="" class="dataTable-selector">
									<option value="">-선택-</option>
									<option value="naver.com">naver.com</option>
									<option value="hotmail.com">hotmail.com</option>
									<option value="daum.net">daum.net</option>
									<option value="gmail.com">gmail.com</option>
								</select>
							</td>
						</tr>
						<tr>
							<td class="col-apricot">아이디</td>
							<td colspan="4" class="txtBox">
								<input type="text" style="width: 149px; height: 38px;" name="id">
								<!-- <button class="btn-orange" value="id" th:onclick="'location.href\'/employee/idDupCheck&value\''" style="margin-left:10px;">아이디 확인</button> -->
								<input type="button" th:href="@{/employee/idDupCheck}" value="중복확인" class="btn-orange" id="duplicationCheck">
							</td>
						</tr>
						<tr>
							<td class="col-apricot">전화번호</td>
							<td colspan="3" class="txtBox"><input type="tel" oninput="hypenTel(this)" maxlength="13" name="phone" id="phone"> 
			                        <script>
			                          const hypenTel = (target) => {
			                         target.value = target.value
			                           .replace(/[^0-9]/g, '')
			                           .replace(/^(\d{2,3})(\d{3,4})(\d{4})$/, `$1-$2-$3`);
			                        }                        
			                        </script></td>
						</tr>
						<tr>
							<td class="col-apricot">생년월일</td>
							<td colspan="3" class="txtBox"><input type="date" name="birth"></td>
						</tr>
						<tr>
							<td class="col-apricot">비밀번호</td>
							<td colspan="3" class="txtBox"><input type="password" name="pwd"></td>
						</tr>
						<tr>
							<td class="col-apricot">비밀번호 확인</td>
							<td colspan="3" class="txtBox"><input type="password" name="pwd2"></td>
						</tr>
						<tr>
							<td class="col-apricot">주소</td>
							<td colspan="3" class="txtBox">
								<input type="text" name="zipcode" id="sample6_postcode" placeholder="우편번호" style="height: 38px;width: 74%;">
								<input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
								<input type="text" name="addre" id="sample6_address" placeholder="주소" style="height: 38px;"><br>
								<input type="text" name="addre2" id="sample6_detailAddress" placeholder="상세주소" style="height: 38px;">
								<input type="text" name="addre3" id="sample6_extraAddress" placeholder="참고항목" style="height: 38px;">
							</td>
						</tr>
						<tr>
							<td class="col-apricot">급여</td>
							<td colspan="3" class="txtBox"><input type="text" name="salary"></td>
						</tr>
						<tr>
							<td class="col-apricot">권한</td>
							<td colspan="3" class="txtBox"><select name="value" id=""
								class="dataTable-selector">
									<option value="1">선생님</option>
									<option value="2">영양사</option>
									<option value="3">원장</option>
							</select></td>
						</tr>
					</table>

					<button class="btn-orange" type="submit">등록하기</button>
				</form>
			</div>
		</main>
	</div>
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;
                
                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
             	// 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }
</script>
</body>
</html>
