<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>HI KINDERGARTEN</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="../css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="../css/commons.css">
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <div th:replace="common/header"></div>
	<div th:replace="common/sidebar"></div>
    <body class="sb-nav-fixed">
   
            <!-- 컨텐츠 영역 -->
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">휴가 조회</h1>
                        <br>

                        <div class="dataTable-top">
                            <div class="dataTable-search">
                                <select name="" id="" class="dataTable-selector">
                                    <option value="">-선택-</option>
                                    <option value="">육회</option>
                                    <option value="">감자튀김</option>
                                </select>
                                <input type="search" class="dataTable-input" placeholder="search">
                            </div>
                            <button class="btn-orange ms-3">검색</button>
                            <div>
                                <button class="btn-orange">등록</button>
                            </div>
                        </div>
                        
                        <table class="dataTable-table">
                            <colgroup>
                                <col width="2%">
                                <col width="5%">
                                <col width="5%">
                                <col width="5%">
                                <col width="5%">
                                <col width="5%">
                                <col width="5%">
                                <col width="2%">                                
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>직원명</th>
                                    <th>아이디</th>
                                    <th>휴가종류</th>
                                    <th>직급</th>
                                    <th>입사일</th> 
                                    <th>작성일</th>
                                    <th>결제승인여부</th>                                    
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>10431</td>
                                    <td>서상돈</td>
                                    <td>ssd1103</td>
                                    <td>정기휴가</td>
                                    <td>선생님</td>
                                    <td>2022-08-14</td>
                                    <td>2022-08-14</td>
                                    <td>승인</td>                                    
                                </tr>
                                <tr>
                                    <td>Garrett Winters</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>63</td>
                                    <td>2011/07/25</td>
                                    <td>$170,750</td>
                                    <td></td>
                                    <td></td>
                                    
                                </tr>
                                <tr>
                                    <td>Ashton Cox</td>
                                    <td>Junior Technical Author</td>
                                    <td>San Francisco</td>
                                    <td>66</td>
                                    <td>2009/01/12</td>
                                    <td>$86,000</td>
                                    <td></td>
                                    <td></td>
                                    
                                </tr>
                                <tr>
                                    <td>Cedric Kelly</td>
                                    <td>Senior Javascript Developer</td>
                                    <td>Edinburgh</td>
                                    <td>22</td>
                                    <td>2012/03/29</td>
                                    <td>$433,060</td>
                                    <td></td>
                                    <td></td>
                                    
                                </tr>
                                <tr>
                                    <td>Airi Satou</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>33</td>
                                    <td>2008/11/28</td>
                                    <td>$162,700</td>
                                    <td></td>
                                    <td></td>
                                    
                                </tr>
                                <tr>
                                    <td>Brielle Williamson</td>
                                    <td>Integration Specialist</td>
                                    <td>New York</td>
                                    <td>61</td>
                                    <td>2012/12/02</td>
                                    <td>$372,000</td>
                                    <td></td>
                                    <td></td>
                                    
                                </tr>
                                <tr>
                                    <td>Herrod Chandler</td>
                                    <td>Sales Assistant</td>
                                    <td>San Francisco</td>
                                    <td>59</td>
                                    <td>2012/08/06</td>
                                    <td>$137,500</td>
                                    <td></td>
                                    <td></td>
                                    
                                </tr>
                                <tr>
                                    <td>Rhona Davidson</td>
                                    <td>Integration Specialist</td>
                                    <td>Tokyo</td>
                                    <td>55</td>
                                    <td>2010/10/14</td>
                                    <td>$327,900</td>
                                    <td></td>                                    
                                    <td></td>                                    
                                </tr>
                                <tr>
                                    <td>Colleen Hurst</td>
                                    <td>Javascript Developer</td>
                                    <td>San Francisco</td>
                                    <td>39</td>
                                    <td>2009/09/15</td>
                                    <td>$205,500</td>
                                    <td></td>                                    
                                    <td></td>                                    
                                </tr>
                                <tr>
                                    <td>Sonya Frost</td>
                                    <td>Software Engineer</td>
                                    <td>Edinburgh</td>
                                    <td>23</td>
                                    <td>2008/12/13</td>
                                    <td>$103,600</td>
                                    <td></td>                                    
                                    <td></td>                                    
                                </tr>
                                <tr>
                                    <td>Jena Gaines</td>
                                    <td>Office Manager</td>
                                    <td>London</td>
                                    <td>30</td>
                                    <td>2008/12/19</td>
                                    <td>$90,560</td>
                                    <td></td>                                    
                                    <td></td>                                    
                                </tr>
                                <tr>
                                    <td>Quinn Flynn</td>
                                    <td>Support Lead</td>
                                    <td>Edinburgh</td>
                                    <td>22</td>
                                    <td>2013/03/03</td>
                                    <td>$342,000</td>
                                    <td></td>                                    
                                    <td></td>                                    
                                </tr>
                                <tr>
                                    <td>Charde Marshall</td>
                                    <td>Regional Director</td>
                                    <td>San Francisco</td>
                                    <td>36</td>
                                    <td>2008/10/16</td>
                                    <td>$470,600</td>
                                    <td></td>                                    
                                    <td></td>                                    
                                </tr>
                            </tbody>
                        </table>
                        
                        <div class="dataTable-bottom">
                            <nav class="dataTable-pagination">
                                <ul class="dataTable-pagination-list">
                                    <li class="pager">
                                        <a href="#" data-page="2"><</a>
                                    </li>
                                    <li class="active">
                                        <a href="#" data-page="1">1</a>
                                    </li>
                                    <li>
                                        <a href="#" data-page="2">2</a>
                                    </li>
                                    <li>
                                        <a href="#" data-page="3">3</a>
                                    </li>
                                    <li>
                                        <a href="#" data-page="4">4</a>
                                    </li>
                                    <li>
                                        <a href="#" data-page="5">5</a>
                                    </li>
                                    <li class="pager">
                                        <a href="#" data-page="2">›</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </main>
            </div>
        </div>
    </body>
</html>
