<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>HI KINDERGARTEN</title>
    <link href="/css/login/idsearch.css" type="text/css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    	$(function(){
    		$("#findId").click(function(){
    			location.href='/login/idsearch';
    		});
    		
    		$("#findPassword").click(function(){
    			location.href="/login/pwdsearch";
    		});
    	});
    </script>
</head>

<body>
    <div id="wrap">
        <div id="header">
            <div id="box">
            	<form th:action="@{ /login/idsearch2 }" method="post">
                <div class="idsearch" id="findId">
                    <a style="color:#FF865E;">아이디찾기</a>
                </div>
                <div class="pwdsearch" id="findPassword">
                    <a style="color:#FF865E;">비밀번호찾기</a>
                </div>
                <table>
                    <tr>
                        <td style="height: 55px;width: 200px;">이름</td>
                        <td colspan="2"><input name="name" type="text" style="width: 250px;height: 30px;"></td>
                    </tr>
                    <tr>
                        <td style="height: 55px;">이메일</td>
                        <td><input type="text" name="email"
								style="width: 149px; height: 20px;"> @ 
								<select name="email2" style="width: 149px;" id="" class="dataTable-selector">
									<option value="naver.com">naver.com</option>
									<option value="hotmail.com">hotmail.com</option>
									<option value="daum.net">daum.net</option>
									<option value="gmail.com">gmail.com</option>
								</select></td>
                        <td><button style="background-color: #FF865E;height: 34px;width: 75px;border: 0;font-size: 11px;">인증번호 발송</button></td>
                    </tr>
                    <tr>
                        <td style="height: 55px;">인증번호</td>
                        <td><input type="text" style="height: 30px;"></td>
                        <td><button style="background-color: #FF865E;height: 34px;width: 75px;border: 0;font-size: 11px;">인증번호 확인</button></td>
                    </tr>
                </table><br><hr style="height: 1px;border: 0;" color="#FF865E"><br>
                <button class="cancelbtn" style="width: 75px;height: 34px;background-color: #FEF9EF;border: 0;" type="button" th:onclick="'location.href=\'/login/gologin\''">취소</button>
                <button class="checkbtn" style="width: 75px;height: 34px;background-color: #FF865E;border: 0;" type="submit">확인</button>
                </form>
            </div>
        </div>
    </div>
    <!-- <script>
        function pwdpage() {
            location.href = "pwdsearch.html";
        }
    </script> -->
</body>

</html>