<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>HI KINDERGARTEN</title>
	<link href="/css/login/pwdsearch.css" type="text/css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    	/* $(function(){
    		$("#findId").click(function(){
    			location.href='/id/search';
    		});
    		
    		$("#findPassword").click(function(){
    			location.href="/pwd/search";
    		});
    	}); */
    	
    	let authCode = '';
    	let authChkYn = 'N';
    	$(document).ready(function(){
    		$(".signNum").click(function(){
    			
    			
				let email = $("#email1").val() + '@' + $("#email2").val(); // lee04@gmail.com
				
				$.ajax({
					url: "/login/emailSendAjax",
					type: "POST",
					data: {
						'email':email
					},
					success: function(data){
						alert("인증번호가 발송되었습니다!!");
						console.log(data);
						authCode = data.authCode;
						authChkYn = 'N';
						
					},
					error: function(error){
						console.log(error);
						alert("인증번호 발송오류");
					}
				});
    			
    		});
    	});
    	
    	function authChk(){
    		let inputAuthCode = $('#inputAuthCode').val();
    		if(inputAuthCode == authCode){
    			alert('인증번호 체크가 완료되었습니다.');
    			authChkYn = 'Y';
    		} else {
    			alert('인증번호가 맞지 않습니다.');
    		}
    	}
    </script>
</head>
<body>
    <div id="wrap">
        <div id="header">
            <div id="box">
            
                <div class="idsearch" id="findId">
                    <a th:href="@{/login/idsearch}" style="color: #FF865E;">아이디찾기</a>
                </div>
                <div class="pwdsearch" id="findPassword">
                    <a th:href="@{/login/pwdsearch}" style="color: #FF865E;">비밀번호찾기</a>
                </div>
				<form th:action="@{/login/pwdchange}" method="post">
					<table>
						<tr>
							<td style="height: 26px; width: 220px;">아이디</td>
							<td colspan="2"><input type="text"
								style="width: 250px; height: 20px;" name="id"></td>
						</tr>
						<tr>
							<td style="height: 26px;">이메일</td>
							<td><input type="text" name="email" id="email1"
								style="width: 149px; height: 20px;"> @ 
								<select name="email2" id="email2" class="dataTable-selector">
									<option value="naver.com">naver.com</option>
									<option value="hotmail.com">hotmail.com</option>
									<option value="daum.net">daum.net</option>
									<option value="gmail.com">gmail.com</option>
								</select></td>
							<td><button type="button" class="signNum"
									style="background-color: #FF865E; height: 26px; width: 75px; border: 0; font-size: 11px;">인증번호
									발송</button></td>
						</tr>
						<tr>
							<td style="height: 26px;">인증번호</td>
							<td><input type="text" id="inputAuthCode" style="height: 22px;"></td>
							<td><button type="button" onclick="authChk();"
									 style="background-color: #FF865E; height: 26px; width: 75px; border: 0; font-size: 11px;">인증번호
									확인</button></td>
						</tr>
						<tr>
							<td style="height: 26px; width: 220px;">비밀번호</td>
							<td colspan="2"><input type="password"
								style="width: 250px; height: 20px;" id="pwd" name="pwd"></td>
						</tr>
						<tr>
							<td style="height: 26px; width: 220px;">비밀번호 확인</td>
							<td colspan="2"><input type="password"
								style="width: 250px; height: 20px;" id="pwd2"></td>
						</tr>
					</table>
					<br>
					<hr style="height: 1px; border: 0;" color="#FF865E">
					<br>
					<button class="cancelbtn" type="button"
						style="width: 75px; height: 34px; background-color: #FEF9EF; border: 0;">취소</button>
					<button class="checkbtn"
						style="width: 75px; height: 34px; background-color: #FF865E; border: 0;"
						type="submit">확인</button>
				</form>
			</div>
        </div>
    </div>
    <!-- <script>
        function pwdpage() {
            location.href = "pwdsearch.html";
        }
    </script> -->
    <script>
    	$(document).ready(function(){
    		$(".checkbtn").click(function(){

				let pwd = $("#pwd").val(); 
				let pwd2 = $("#pwd2").val();
				
				if(pwd == pwd2){
					alert("비밀번호가 일치합니다!!");
				} else {
					alert("비밀번호가 틀립니다 다시 확인해주세요!!");
				}
    		});
    	});
    	
    	$(function(){
    		$(".cancelbtn").click(function(){
    			location.href='/login/gologin';
    		});
    	});
    </script>
</body>
</html>