<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>HI KINDERGARTEN</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="../css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="../css/commons.css">
        <link rel="stylesheet" href="../css/ressonsplan.css">
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">

        <!-- <div class="modal show">
            <div class="modal_body">
                <h1>asdasdasdsaddsadasdasd</h1>
                <div>asdsadasdsadasd</div>
            </div>
        </div> -->
        <script>
        date = new Date();
        year = date.getFullYear();
        month = date.getMonth() + 1;
        day = date.getDate();
        document.getElementById("current_date").innerHTML =  year + "/" + month + "/" + day ;
        document.getElementById("current_date_ko").innerHTML =  year + "년" + month + "월" + day + "일" ;
        </script>
        <!-- 헤더 영역 -->
      	<div th:replace="common/header"></div>
		<div th:replace="common/sidebar"></div>

            <!-- 컨텐츠 영역 -->
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">지출 계획서</h1>
                        <br>
                       
                        <br>
                        <table class="tbTem">
                            <colgroup>
                                <col width="20%">
                                <col width="30%">
                                <col width="20%">
                                <col width="30%">
                            </colgroup>
                            <form  th:method="post" id="sqendsubmitForm" name="sqendsubmitForm" enctype="multipart/form-data">
 
                            <tr>
                                <td class="col-apricot">지출제목</td>
                                <td><input type="text" name="title" th:value="${spend.title}" style="border:none" readonly></td>
                                <td class="col-apricot">담당자</td>
                                <td><span th:text="${spend.employee.name}"></span></td>
                            </tr>
                            <tr>
                                <td class="col-apricot">작성일시</td>
                                <td><span th:text="${spend.wDate}"></span></td>
                                <td class="col-apricot">결제일시</td>
                                <td><input type="date" name="expeDate" th:value="${spend.expeDate}" style="text-align: center; border:none" readonly></td>
                            </tr>
                            <tr>
                                <td class="col-apricot">지출금액</td>
                                <td colspan="4"><input type="text" name="price" th:value="${spend.price}" style="border:none" readonly></td>
                            </tr>
                            <tr>
                                <td class="col-apricot">지출유형</td>
                                <td colspan="3" class="txtBox" >
                                   <span th:text="${spend.dep}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-apricot">입금계좌</td>
                                <td colspan="3" class="txtBox" style="text-align: center;"><input type="text" name="account" th:value="${spend.account}" style="border:none" readonly></td>
                            </tr>
                            <tr>
                                <td class="col-apricot">입금정보</td>
                                <td colspan="3" class="txtBox" style="text-align: center;"><input type="text" name="client" th:value="${spend.client}" style="border:none" readonly></td>
                            </tr>
                            <tr>
                                <td class="col-apricot">지출내역</td>
                                <td colspan="3" class="txtBox" style="text-align: center;"><input type="text" name="content" th:value="${spend.content}" style="border:none" readonly></td>
                            </tr>
                            </form>
                            <tr>
                                <td class="col-apricot">결제승인여부</td>
                                <td colspan="3" class="txtBox"><span th:text="${spend.history.process}"></span></td>
                            </tr>
                            <tr>
                                <td colspan="4" style="height : 400px;">
                                    <div class="submission">
                                        <table>
                                            <tr>
                                                <td>위와 같이 지출 계획서를 제출합니다.</td>
                                            </tr>
                                            <tr>
                                                <td id="current_date_ko"></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: right; padding-right: 15%;">보고자 : <span th:text="${spend.employee.name}"></span></td>
                                            </tr>
                                        </table>
                                        <th:block th:if="${file.mainPath != null}">
                                         <hr>
                                        <span>첨부파일</span>
                                        <br>
                                        <a th:href="|/fileupload/payment/${file.savedName}|" download><span th:text="${file.originName}"></span></a>
                                        </th:block>
                                        
                                         <hr>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="buttonArray" style="float: right; padding-right: 31%;">
                        <th:block th:if="${spend.history.process.toString().equals('저장')}">
                            <button class="btn-orange ms-3" th:onclick="|confirmCheck(${spend.no})|">제출하기</button>
                            <button class="btn-orange ms-3" th:onclick="|location.href='@{/payment/spendupdate(no=${spend.no})}'|">수정하기</button>
                            <button class="btn-orange ms-3" th:onclick="|removeCheck(${spend.no})|">삭제하기</button>
                        </th:block>   
                        <th:block th:if="${status != null and !spend.history.process.toString().equals('저장')}">
                        	<button class="btn-orange ms-3" th:onclick="|submitpass(${spend.no})|">승인하기</button>
                            <button class="btn-orange ms-3" th:onclick="|submitfail(${spend.no})|">반려하기</button>
                            <button class="btn-orange ms-3" th:onclick="|removeCheck(${spend.no})|">삭제하기</button>
                        </th:block> 
                            <button class="btn-orange ms-3" onclick="history.back()">돌아가기</button>
                         </div>
                    </div> 
                </main>
                 <script th:inline="javascript">
                 
                 	function submitfinal(no,yN){
						location.href="/payment/spendSupFinal?no="+no+"&yN="+yN;
					}
                 	
                 	function submitPaper(no){
                 		location.href="/payment/spendsubmitToSup?no="+no
                 		
                 	}
                 	
					function save(){
						$("#sqendsubmitForm").prop("action","/payment/spendsubmit").submit;
                 	}
                 	
					function deletePaper(no){
						//"|location.href='@{/payment/spendsubmitDelete(no=${data.no})}'|";
						location.href="/payment/spenddelete?no="+no;
                 	}
                 			function submitpass(no) {
  
                            if (confirm("승인하시겠습니까??") == true){    //확인

                             return submitfinal(no,'Y');

                            }else{   //취소

                             return false;

                            }
                 			}
                 			
                 			function submitfail(no) {
  
                            if (confirm("반려하시겠습니까??") == true){    //확인

                             return submitfinal(no,'N');

                            }else{   //취소

                             return false;

                            }

                            }
                 			
                            function confirmCheck(no) {
  
                            if (confirm("제출하시겠습니까??") == true){    //확인

                             return submitPaper(no);

                            }else{   //취소

                             return false;

                            }

                            }

                            function returnCheck() {
  
                            if (confirm("저장하시겠습니까??") == true){    //확인

                             return save();

                            }else{   //취소

                             return false;

                            }

                            }

                            function removeCheck(no) {
  								console.log("no > " + no);
                            if (confirm("정말 삭제하시겠습니까??") == true){    //확인
							console.log(no);
                             return deletePaper(no);

                            }else{   //취소

                             return false;

                            }

                            }
                        </script>
            </div>
        </div>

      
    </body>
</html>
